H1 {
    text-align: center;
}
h2 {
    text-align: center;
}

body {
    background-color:darkgray;
    text-align: center;
}
.intro-paragraph{
    text-align: center;
}

ul {
    list-style-type:none
}

footer {
    text-align: right;
}
